<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <%= link_to "VetClinic", root_path, class: "navbar-brand" %>

  <div class="navbar-nav">
    <%= link_to "Owners", owners_path, class: "nav-link" %>
    <%= link_to "Pets", pets_path, class: "nav-link" %>
    <%= link_to "Vets", vets_path, class: "nav-link" %>
    <%= link_to "Appointments", appointments_path, class: "nav-link" %>
  </div>
</nav>